##This function will input the class decklists, and then cards randomly based on a coin flip. If heads, player goes first
## If tails player goes second. On the first turn player gets shown 3 cards, and is given choice to put up to 3 back into the deck, 
## and draw again without replacement. Same for player 2 except with 4 cards.(Then we can replace it if we decide to make a draw deck function)
## Want to have a way for the player to select the number of rounds



##Option to allow the user to generate the opponent, the default will output a randomly selected class based on the meta at the time 


## Coin flip function


## Reading decklist, drawing and showing replacement function
